@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #fafafa;
  --foreground: #fafafa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fafafa;
    --foreground: #fafafa;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Poppins, Inter, sans-serif;
}

/* Para navegadores baseados em Webkit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  display: none;
}

/* Para Firefox */
.scrollbar-hidden {
  scrollbar-width: none; /* Oculta a barra de rolagem */
}

/* Oculta as barras de rolagem em geral */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
